{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Netflix
{% endblock %}





{% block content %}
<h1>NETFLIX</h1>

<section>
  <div>
    <h2 class="text-gray-200 text-2xl font-medium">
                    Em Alta
    </h2>
    <div class="wrapper">

      <section id="section1">
        <a href="#section3" class="arrow__btn">‹</a>
        {% for filme in lista_filmes_em_alta %}
        {% if forloop.counter < 6 %}
        <div class="item">
        <a href="{% url 'filme:detalhesfilme' filme.pk %}" id="pao">
        <img src="{{ filme.thumb.url }}" alt="Describe Image">
          </a>


      </div>
        {% endif %}
        {% endfor %}
        <a href="#section2" class="arrow__btn">›</a>
      </section>


      <section id="section2">
        <a href="#section1" class="arrow__btn">‹</a>
        <div class="item">
        <img src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABVopDZ5Fy9_fk_HO5WxHTXKKjKhtWFupbSjuvPwfLK_vytzon4EwRUdGgYJ34JwPxOTK_NkV3aXfkULMB0Dcct-FyfqzH-X44VXuRMp4QeBHlvKwWeZFpZlGdItPzmmg4scmwhG7SQ.jpg" alt="Describe Image">
      </div>

      </section>
    </div>
    </div>
  </section>


{% endblock %}
